/* ====================================================== */
/* COMPOSANT : CALENDRIER DE RÉSERVATION                  */
/* ====================================================== */

#doubleCalendar {
    position: absolute;
    top: 90%; 
    left: 50%;
    z-index: 20;
    background: rgba(244, 244, 244, 0.95);
    backdrop-filter: blur(5px);
    border-radius: 15px;
    padding: 1rem;
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
    width: max-content;

    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s, transform 0.3s;
    transform: translateX(-50%) translateY(-20px);
}

#doubleCalendar.is-visible {
    visibility: visible;
    opacity: 1;
    transform: translateX(-50%) translateY(0);
}

.calendar-main-controls {
    position: absolute;
    top: 1.5rem;
    left: 0.5rem;
    right: 0.5rem;
    display: flex;
    justify-content: space-between;
    padding: 0 1rem;
    pointer-events: none;
}

.calendar-main-controls button {
    pointer-events: all;
    background: none;
    border: none;
    font-size: 1.2rem;
    color: var(--color-text-dark);
    cursor: pointer;
}

.calendar-wrapper {
    display: flex;
    gap: 2rem;
}

.calendar-instance {
    display: flex;
    flex-direction: column;
}

.calendar-instance__title {
    font-weight: 600;
    font-size: 1.1rem;
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 1rem;
    padding-top: 0.5rem;
}

.calendar-grid {
    display: grid;
    grid-template-columns: repeat(7, 40px);
    gap: 0.5rem;
}

.calendar-header > div {
    font-weight: 600;
    text-align: center;
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

.date-cell {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.2s, color 0.2s;
}

.date-cell:hover {
    background-color: var(--color-secondary);
    color: var(--color-text-dark);
}

.date-cell.inactive {
    color: #aaa;
    pointer-events: none;
}

.date-cell.today {
    font-weight: 700;
    border: 1px solid var(--color-primary);
}

.date-cell.selected {
    background-color: var(--color-primary);
    color: var(--color-text-light);
}

.date-cell.in-range {
    background-color: var(--color-secondary);
    color: var(--color-text-dark);
    border-radius: 0;
}

.date-cell.range-start {
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
}

.date-cell.range-end {
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
}